.toggleSwitch {
  @apply relative w-20 inline-block align-middle text-left select-none;
  .checkbox {
    @apply hidden;
  }
  .label {
    @apply block cursor-pointer overflow-hidden border-slate-300 rounded-3xl m-0;
    &:focus {
      @apply outline-none;
      > span {
        @apply shadow-[0_0_2px_5px] shadow-[red] font-normal;
      }
    }
    > span:focus {
      @apply outline-none;
    }
  }
  .inner {
    @apply block w-[200%] ml-[-100%] transition-[margin] duration-[0.3s] ease-in delay-[0s] font-normal;
    &:before,
    &:after {
      @apply block float-left w-6/12 h-8 p-0 leading-8 text-sm text-white font-bold box-border;
    }
    &:before {
      @apply uppercase pl-2 text-white bg-green-500;
      content: attr(data-yes);
    }
  }
  .disabled {
    @apply bg-slate-300 cursor-not-allowed;
    &:before {
      @apply bg-slate-300 cursor-not-allowed;
    }
  }
  .inner:after {
    @apply uppercase pr-2 text-white text-right bg-white;
    content: attr(data-no);
  }
  .switch {
    @apply block w-6 m-1 bg-slate-600 absolute top-0 bottom-0 right-12 border-slate-600 rounded-3xl transition-all duration-[0.3s] ease-in delay-[0s] font-normal;
  }
  .checkbox:checked + .label {
    .inner {
      @apply ml-0;
    }
    .switch {
      @apply right-0;
    }
  }
  &.small-switch {
    @apply w-10;
    .inner {
      &:after,
      &:before {
        @apply h-5 leading-5;
        content: "";
      }
    }
    .switch {
      @apply w-4 m-1 right-5;
    }
  }
  @media screen and (max-width: 991px) {
    transform: scale(0.9);
}
  @media screen and (max-width: 767px) {
    transform: scale(0.825);
  }
  @media screen and (max-width: 575px) {
    transform: scale(0.75);
  }
}
