.pageNumberContainer {
  @apply w-full p-2 flex justify-center items-center text-xl;
  .pageNumberWrapper {
    @apply w-full flex max-w-[80%] overflow-auto;
    .pageNumber {
      @apply h-6 m-0 text-gray-800 cursor-pointer font-bold ml-0 mr-0 p-3 w-6 flex justify-center items-center transition-all duration-[0.3s] delay-[0s] text-xs;
      &:hover {
        @apply transition-all duration-[0.3s] delay-[0s] text-gray-700;
      }
      &.active {
        @apply bg-green-500;
      }
    }
  }
  .arrowContainer {
    @apply h-full mr-3 ml-3 w-16;
    & > div span {
      @apply h-full ml-1 mr-1 text-gray-700 cursor-pointer transition-all duration-[0.3s] delay-[0s] text-xs;
      &:hover {
        @apply transition-all duration-[0.3s] delay-[0s] text-[#819595] font-normal;
      }
    }
    & > span:hover {
      @apply transition-all duration-[0.3s] delay-[0s] text-[#819595] font-normal;
    }
  }
}
