.listingWrapper {
  @apply block;
  .dropdownList {
    @apply absolute;
    right: 17px;
    top: 55px;
    ul > li > span {
      cursor: pointer;
    } 
  }
}
.emptyArea img {
  filter: hue-rotate(70deg);
}