.app {
  @apply text-center;
  .header {
    @apply relative w-full z-10 bg-teal-700;
    .headerContainer {
      @apply w-full py-0 px-8 mx-auto items-center flex flex-wrap;
      .navBar {
        @apply relative text-white flex items-center;
        .siteSwitcher {
          @apply w-full m-1 flex space-x-2 items-center;
        }
        .banner {
          .bannerTitle {
            @apply flex items-center;
            .logo {
              @apply w-20 m-1;
            }
            .navigator {
              @apply w-80 mx-1;
            }
          }
        }
      }
    }
  }
  .lineBrek {
    border-bottom: 1px solid #f5f5f5;
    display: block;
    margin: 30px;
    box-shadow: -1px 1px 2px 0 #cdcdcd;
  }
  .mainContainer {
    @apply container mx-auto;
    .leftPanel {
      @apply float-left w-1/5;
      .filtersTitle {
        @apply w-full font-bold text-center text-xl;
      }
      .filterBox {
        @apply w-full my-5 text-left;
        .heading {
          @apply w-full flex flex-wrap justify-between left-0;
          background: #fbfbfb;
          border-bottom: 1px solid #d9d9d9;
          padding: 2px 10px;
          border-radius: 5px;
          .lbl {
            @apply font-semibold float-left w-3/4;
          }
          .clearFilter {
            @apply float-right w-1/4;
            float: right;
            text-align: right;
            cursor: pointer;
          }
        }
        .filterOption {
          cursor: pointer;
          padding: 2px 10px;
          color: #9d9d9d;
          &.selected {
            color: black;
          }
        }
      }
    }
    .listing {
      @apply float-right w-4/5;
    }
  }
}
.pageLoader {
  transform: translate(-50%, -50%);
}
